*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b1d3c;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: #fff;
}

#main-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

header {
    display: block;
    text-align: center;
}

select {
    margin-left: 10px;
    padding: 5px 50px;
    border-radius: 10px;
    outline: none;
}

.index {
    width: 50%;
    padding: 5px 0;
    margin: 50px 25%;
    background-color: #101125;
    pointer-events: none;
}

.index-row {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.item {
    font-size: 12px;
    margin-left: 8px;
    margin-right: 3px;
    margin-top: 5px;
}

.canvas {
    width: 50%;
    height: 80px;
    margin-left: 25%; 
    margin-top: 50px;
    background-color: #ecf0f1;
    border-radius: 3px;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
}

.seats-container {
    width: 50%;
    margin: 20px 25%;
}

.row {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.seat {
    width: 25px;
    height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #34495e;
    margin: 3px;
    cursor: pointer;
}

.seat:hover {
    transform: scale(1.15, 1.15);
}

.row span {
    width: 20px;
}

.occupied {
    background-color: #ecf0f1;
    pointer-events: none;
}

.selected {
    background-color: #22a6b3;
}

h1 {
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
}

h1 span {
    color: #22a6b3;
}

.get-tickets {
    width: 25%;
    height: 50px;
    margin-top: 30px;
    margin-left: 37.5%;
    background-color: #f1c40f;
    border-radius: 15px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
}

.get-tickets:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(245,212,79,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(245,212,79,1);
    box-shadow: 0px 0px 15px 0px rgba(245,212,79,1);
}
